[Unit]
#Nombre que Aparecera.
Description=MyAllScripts.SH
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot

#Direccion de Script a Ejecutar.
ExecStart=/root/all.sh
WorkingDirectory=/root
StandardOutput=journal
StandardError=journal
RemainAfterExit=yes

User=root

#Tiempo de Espera para cerrar.
TimeoutStopSec=9999
Restart=on-failure
RestartForceExitStatus=9  
#OOMScoreAdjust=-1000        
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
