[Unit]
Description=MyUPDATE.SH
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/root/update.sh
WorkingDirectory=/root
StandardOutput=journal
StandardError=journal
RemainAfterExit=yes
User=root

Restart=on-failure
RestartForceExitStatus=9  
#OOMScoreAdjust=-1000        
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
